---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/batch?key=foo
    body:
      encoding: UTF-8
      string: "--RubyApiBatchRequest\r\nContent-Length: 121\r\nContent-ID: <a5f2fa98-d01d-464c-a4c8-c477a18d86d8+0>\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nGET /pagespeedonline/v2/runPagespeed?strategy=desktop&url=http%3A%2F%2Fwww.foo.org
        HTTP/1.1\r\nHost: www.googleapis.com\r\n\r\n\r\n--RubyApiBatchRequest--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=RubyApiBatchRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_7bJABB7RcaI_AAdKITu3LZs
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "--batch_7bJABB7RcaI_AAdKITu3LZs\r\nContent-Type: application/http\r\nContent-ID:
        <response-a5f2fa98-d01d-464c-a4c8-c477a18d86d8+0>\r\n\r\nHTTP/1.1 200 OK\r\nETag:
        \"hBvbk_pWDQIcqhjD6kbuMzo62w0/l4m5obReuhUqyfDZ8PyCCgAC5RI\"\r\nContent-Type:
        application/json; charset=UTF-8\r\nDate: Thu, 01 Sep 2016 19:24:07 GMT\r\nExpires:
        Thu, 01 Sep 2016 19:24:07 GMT\r\nCache-Control: private, max-age=0\r\nContent-Length:
        9661\r\n\r\n{\n \"kind\": \"pagespeedonline#result\",\n \"id\": \"http://www.foo.org/\",\n
        \"responseCode\": 200,\n \"title\": \"FOO.org\",\n \"ruleGroups\": {\n  \"SPEED\":
        {\n   \"score\": 96\n  }\n },\n \"pageStats\": {\n  \"numberResources\": 20,\n
        \ \"numberHosts\": 9,\n  \"totalRequestBytes\": \"2670\",\n  \"numberStaticResources\":
        11,\n  \"htmlResponseBytes\": \"33704\",\n  \"imageResponseBytes\": \"310269\",\n
        \ \"javascriptResponseBytes\": \"724804\",\n  \"numberJsResources\": 6\n },\n
        \"formattedResults\": {\n  \"locale\": \"en_US\",\n  \"ruleResults\": {\n
        \  \"AvoidLandingPageRedirects\": {\n    \"localizedRuleName\": \"Avoid landing
        page redirects\",\n    \"ruleImpact\": 0.0,\n    \"groups\": [\n     \"SPEED\"\n
        \   ],\n    \"summary\": {\n     \"format\": \"Your page has no redirects.
        Learn more about {{BEGIN_LINK}}avoiding landing page redirects{{END_LINK}}.\",\n
        \    \"args\": [\n      {\n       \"type\": \"HYPERLINK\",\n       \"key\":
        \"LINK\",\n       \"value\": \"https://developers.google.com/speed/docs/insights/AvoidRedirects\"\n
        \     }\n     ]\n    }\n   },\n   \"EnableGzipCompression\": {\n    \"localizedRuleName\":
        \"Enable compression\",\n    \"ruleImpact\": 0.0,\n    \"groups\": [\n     \"SPEED\"\n
        \   ],\n    \"summary\": {\n     \"format\": \"You have compression enabled.
        Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.\",\n     \"args\":
        [\n      {\n       \"type\": \"HYPERLINK\",\n       \"key\": \"LINK\",\n       \"value\":
        \"https://developers.google.com/speed/docs/insights/EnableCompression\"\n
        \     }\n     ]\n    }\n   },\n   \"LeverageBrowserCaching\": {\n    \"localizedRuleName\":
        \"Leverage browser caching\",\n    \"ruleImpact\": 2.4945436507936507,\n    \"groups\":
        [\n     \"SPEED\"\n    ],\n    \"summary\": {\n     \"format\": \"Setting
        an expiry date or a maximum age in the HTTP headers for static resources instructs
        the browser to load previously downloaded resources from local disk rather
        than over the network.\"\n    },\n    \"urlBlocks\": [\n     {\n      \"header\":
        {\n       \"format\": \"{{BEGIN_LINK}}Leverage browser caching{{END_LINK}}
        for the following cacheable resources:\",\n       \"args\": [\n        {\n
        \        \"type\": \"HYPERLINK\",\n         \"key\": \"LINK\",\n         \"value\":
        \"https://developers.google.com/speed/docs/insights/LeverageBrowserCaching\"\n
        \       }\n       ]\n      },\n      \"urls\": [\n       {\n        \"result\":
        {\n         \"format\": \"{{URL}} ({{LIFETIME}})\",\n         \"args\": [\n
        \         {\n           \"type\": \"URL\",\n           \"key\": \"URL\",\n
        \          \"value\": \"http://survey.g.doubleclick.net/async_survey?site=kv4ic6olrzkr6\"\n
        \         },\n          {\n           \"type\": \"DURATION\",\n           \"key\":
        \"LIFETIME\",\n           \"value\": \"5 minutes\"\n          }\n         ]\n
        \       }\n       },\n       {\n        \"resul[...]
