---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/batch?key=foo
    body:
      encoding: UTF-8
      string: "--RubyApiBatchRequest\r\nContent-Length: 130\r\nContent-ID: <eb3d270f-0809-4f76-b777-1a82b2d3800a+0>\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nGET /pagespeedonline/v2/runPagespeed?strategy=desktop&url=http%3A%2F%2Fwww.foo2.org
        HTTP/1.1\r\nHost: www.googleapis.com\r\n\r\n\r\n--RubyApiBatchRequest--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=RubyApiBatchRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_kPXaseL9Co8_AAFMXLtqrAM
    body:
      encoding: UTF-8
      string: "--batch_kPXaseL9Co8_AAFMXLtqrAM\r\nContent-Type: application/http\r\nContent-ID:
        <response-eb3d270f-0809-4f76-b777-1a82b2d3800a+0>\r\n\r\nHTTP/1.1 400 Bad
        Request\r\nContent-Type: application/json; charset=UTF-8\r\nDate: Tue, 06
        Sep 2016 20:39:46 GMT\r\nExpires: Tue, 06 Sep 2016 20:39:46 GMT\r\nCache-Control:
        private, max-age=0\r\nContent-Length: 463\r\n\r\n{\n \"error\": {\n  \"errors\":
        [\n   {\n    \"domain\": \"pagespeedInsights\",\n    \"reason\": \"rateLimitExceeded\",\n
        \   \"message\": \"Rate Limit Exceeded, try again later
        \"\n   }\n  ],\n  \"code\": 400,\n  \"message\": \"Rate Limit Exceeded, try again later
        \"\n }\n}\n\r\n--batch_kPXaseL9Co8_AAFMXLtqrAM--\r\n"
  recorded_at: Tue, 06 Sep 2016 20:39:47 GMT
recorded_with: VCR 3.0.3
